<h1>My shopping cart</h1>
<table>
  <% @cart.line_items.each do |item| %>
      <tr>
        <td><%= item.quantity %> &times;</td>
        <td><%= item.book.title %>
          (<%= number_to_currency item.book.discount_price ? item.book.discount_price : item.book.price %>)
        </td>
        <td><%= number_to_currency item.total_price %></td>
      </tr>
  <% end%>
  <tr>
    <td colspan="2">Total</td>
    <td><%= number_to_currency @cart.total_price %></td>
  </tr>
</table>
<%= button_to "Check Out"%>
<%= button_to "Empty Cart", @cart, method: :delete %>