<h1>Listing books</h1>

<table >
  <% @books.each do |book| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= image_tag(book.image_url, class: 'list_image') %>
        </td>
        <td class="list_description">
          <dl>
            <dt class="description_title"><%= book.title %></dt>
            <dd><%= truncate(strip_tags(book.description), length: 80) %></dd>
            <% if book.discount_price == book.price %>
                <dt class="book_free">price: Book is Free</dt>
                <% else %>
            <dt class="price"> Price: <%=  number_to_currency(book.price) %></dt>
            <% if book.discount_price != nil %>
            <dt class="discount_price"> Discount Price: <%= number_to_currency(book.discount_price) %></dt>
                <% end %>
                <% end %>
          </dl>
        </td>
        <td class="list_actions">
          <%= link_to 'Show', book %><br/>
          <%= link_to 'Edit', edit_book_path(book) %><br/>
          <%= link_to 'Destroy', book, method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
</table>
<br />

<%= link_to 'New book', new_book_path%>


<br>


